body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#construction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh
}