@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    overscroll-behavior-y: contain;
  }
}

@layer components {
  .menuLink {
    @apply cursor-pointer hover:text-orange dark:hover:text-green;
  }

  .navbar-button {
    @apply transition-all duration-300;
  }

  .navbar-button-icon:hover {
    @apply text-orange dark:text-green;
  }
}

button.navbar-button {
    align-items: center;
    background: transparent;
    border: 1px solid transparent;
    box-shadow: none;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: .5rem;
    width: 40px;
}