@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    overscroll-behavior-y: contain;
  }
  body {
    @apply bg-offWhiteLight dark:bg-charcoal text-charcoal dark:text-offWhiteLight;
  }
}

@layer components {
  .menuLink {
    @apply cursor-pointer hover:text-orange dark:hover:text-green transition-colors duration-200;
  }

  .navbar-button-icon {
    @apply transition-colors duration-300;
  }

  .navbar-button:hover .navbar-button-icon {
    @apply text-orange dark:text-green;
  }
}

button.navbar-button {
    align-items: center;
    background: transparent;
    border: 1px solid transparent;
    box-shadow: none;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
}

.button-primary {
  @apply bg-orange text-white font-semibold py-3 px-6 rounded-lg shadow-md hover:bg-orangeDark dark:bg-green dark:text-charcoal dark:hover:bg-greenDark transition-colors duration-300;
}

.button-secondary {
  @apply border-2 border-orange text-orange font-semibold py-[10px] px-6 rounded-lg shadow-md 
    hover:bg-orangeDark hover:border-orangeDark hover:text-white 
    dark:border-green dark:text-green dark:hover:bg-green dark:hover:text-charcoal 
    transition-colors duration-300 relative;
}